/* ---------- RESET ---------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

/* ---------- HERO ---------- */

.hero{
    position:relative;
    height:100vh;
}

/* ---------- VIDEO ---------- */

.hero video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
}

/* ---------- DARK OVERLAY ---------- */

.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.45);
    z-index:1;
}

/* ---------- HEADER ---------- */

header{

    position:sticky;
    top: -20px;
    z-index:3;

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 80px;
}

/* ---------- LOGO ---------- */

.logo{

    color:#fff;

    font-size:30px;

    font-weight:bold;

    transition: 1s;
    top: -2px;

}

/* ---------- NAV ---------- */

nav ul{

    display:flex;

    list-style:none;

    gap:45px;

}

nav a{

    text-decoration:none;

    color:white;

    font-size:17px;

    font-weight:600;

    transition:.3s;

}

nav a:hover{

    color:#3ea6ff;

}

/* ---------- CALL BUTTON ---------- */

#call{

    padding:12px 28px;

    border:none;

    border-radius:50px;

    background:#0d6efd;

    color:white;

    font-size:16px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}

#call:hover{

    transform:scale(1.05);

    background:#0b5ed7;

}

/* ---------- HERO CONTENT ---------- */

.hero-content{

    position:relative;

    z-index:3;

    color:white;

    height:75vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    padding-left:80px;

    max-width:650px;

}

.hero-content h1{

    font-size:65px;

    line-height:1.1;

    margin-bottom:20px;

}

.hero-content p{

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

    color: lightblue;

}

/* ---------- HERO BUTTONS ---------- */

.hero-btn{

    display:flex;

    gap:20px;

}

.hero-btn button{

    padding:16px 35px;

    border:none;

    border-radius:40px;

    cursor:pointer;

    font-size:16px;

    font-weight:bold;

    transition:.3s;

}

.hero-btn button:first-child{

    background:#0d6efd;

    color:white;

}

.hero-btn button:last-child{

    background:white;

    color:#111;

}

.hero-btn button:hover{

    transform:translateY(-5px);

}
/* ---------- COMMON SECTION ---------- */

section:not(.hero){

    padding:80px;

    text-align:center;

}


section h2{

    font-size:40px;

    margin-bottom:30px;

    color:#0d6efd;

}


section p{

    font-size:18px;

    line-height:1.7;

    color:#555;

}



/* ---------- ABOUT ---------- */

#about{

    background:#f8f9fa;

}


#about p{

    max-width:800px;

    margin:auto;

}



/* ---------- SERVICES ---------- */

#services{

    background:white;

}


.service-box{

    display:inline-block;

    width:280px;

    min-height:180px;

    margin:20px;

    padding:30px;

    border-radius:15px;

    background:#f8f9fa;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

    transition:.3s;

}


.service-box:hover{

    transform:translateY(-10px);

}


.service-box h3{

    color:#0d6efd;

    margin-bottom:15px;

}


/* ---------- WHY CHOOSE US ---------- */


#why{

    background:#f8f9fa;

}


.why-box{

    display:inline-block;

    width:260px;

    margin:20px;

    padding:30px;

    background:white;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

    transition:.3s;

}


.why-box:hover{

    transform:scale(1.05);

}


.why-box h3{

    color:#0d6efd;

    margin-bottom:15px;

}



/* ---------- DOCTOR ---------- */


#doctor img{

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:50%;

    margin:20px;

}


#doctor h3{

    font-size:28px;

    margin-bottom:10px;

}



/* ---------- REVIEWS ---------- */


#reviews{

    background:#f8f9fa;

}


.review{

    display:inline-block;

    width:320px;

    padding:30px;

    margin:20px;

    background:white;

    border-radius:15px;

    box-shadow:0 10px 25px rgba(0,0,0,.1);

}


.review h4{

    color:#ffc107;

    font-size:25px;

    margin-bottom:15px;

}


.review span{

    display:block;

    margin-top:15px;

    font-weight:bold;

}



/* ---------- APPOINTMENT FORM ---------- */


#appointment{

    background:white;

}


form{

    max-width:600px;

    margin:auto;

    display:flex;

    flex-direction:column;

    gap:20px;

}


form input,
form textarea{

    padding:15px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

}


form textarea{

    height:120px;

    resize:none;

}


form button{

    padding:15px;

    border:none;

    border-radius:30px;

    background:#0d6efd;

    color:white;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

    transition:.3s;

}


form button:hover{

    transform:scale(1.05);

}



/* ---------- CONTACT ---------- */


#contact{

    background:#0d6efd;

}


#contact h2,
#contact p{

    color:white;

}


#contact p{

    margin:15px;

}



/* ---------- FOOTER ---------- */


footer{

    background:#111;

    color:white;

    text-align:center;

    padding:25px;

    font-size:16px;

}
.whatsapp{
    position: fixed;
    right: 25px;
    bottom: 25px;

    width: 60px;
    height: 60px;

    background: #25D366;
    color:white;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 30px;
    text-decoration: none;

    box-shadow: 0 5px 15px rgba(0,0,0,.3);

    transition: .3s;

    z-index: 999;
}

.whatsapp:hover{
    transform: scale(1.1);
}
/* ================= MOBILE RESPONSIVE ================= */

@media (max-width:768px){

    /* HEADER */

    header{
        display: flex;
        padding:20px;
        gap:20px;
        text-align:center;
    }

    .logo{
        font-size:15px;
    }

    nav ul{
        gap:18px;
    }

    nav a{
        font-size:13px
    }

    #call{
        width:65px;
        font-size: 16px;
        padding-left: 10px;
    }

    /* HERO */

    .hero{
        height:auto;
        min-height:100vh;
    }

    .hero-content{
        padding:30px 20px 50px;
        height:auto;
        text-align:center;
        align-items:center;
        max-width:100%;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-content p{
        font-size:17px;
        line-height:1.6;
    }

    .hero-btn{
        flex-direction:column;
        width:100%;
        align-items:center;
    }

    .hero-btn button{
        width:220px;
    }

    /* COMMON SECTION */

    section:not(.hero){
        padding:60px 20px;
    }

    section h2{
        font-size:32px;
    }

    section p{
        font-size:16px;
    }

    /* SERVICES */

    .service-box{
        display:block;
        width:100%;
        margin:20px 0;
    }

    /* WHY */

    .why-box{
        display:block;
        width:100%;
        margin:20px 0;
    }

    /* DOCTOR */

    #doctor img{
        width:180px;
        height:180px;
    }

    /* REVIEWS */

    .review{
        display:block;
        width:100%;
        margin:20px 0;
    }

    /* FORM */

    form{
        width:100%;
    }

    form input,
    form textarea,
    form button{
        width:100%;
    }

    /* CONTACT */

    #contact p{
        word-break:break-word;
        font-size:15px;
    }

    /* FOOTER */

    footer{
        font-size:14px;
        padding:20px;
    }

}
